<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6BPXS4X');</script>
<!-- End Google Tag Manager -->

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
{% include head-custom.html %}
{% seo %}
    <meta name="msvalidate.01" content="75A3A717665BD6E54631DD9C274A9685" />
    <meta name="google-site-verification" content="FY7_SzTGm0mn424hbNTS2oAJ3jbgrDC2eMOO414B4gA" />
  </head>

  <body>
    
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6BPXS4X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          <a href="https://ecma-international.org/publications-and-standards/standards/ecma-55/" class="btn">ECMA-55.pdf</a>
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <footer>
      <div style="display: flex; justify-content: space-between; padding: 10px">
          <div style="flex: 1; padding: 20px; text-align: center;">
            <a href="{{ page.back | default: '/' }}">&uarr; Back</a>
          </div>
          <div style="flex: 1; padding: 20px; text-align: center;">
          {%- if page.prev %}
            <a href="{{ page.prev }}">&larr; Prev.</a>
          {%- endif %}
          </div>
          <div style="flex: 1; padding: 20px; text-align: center;">
          {%- if page.next %}
            <a href="{{ page.next }}">&rarr; Next</a>
          {%- endif %}
          </div>
      </div>
      <div style="text-align: center">
          Web site by <a href="https://github.com/Marcussacapuces91">Marcussacapuces91</a> -
          <a href="https://github.com/pages-themes/hacker">The Hacker theme</a> for Jekyll -
          See also <a href="https://lab-allen.fr">Lab'Allen</a>
      </div>
    </footer>
  </body>
</html>
